<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coacheller"
    android:versionCode="6"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".CoachellerApplication" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:label="@string/app_name"
            android:launchMode="standard"
            android:name=".ui.CoachellerActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="standard"
            android:name=".ui.SearchSetsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="standard"
            android:name=".ui.ChooseLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="standard"
            android:name=".ui.TwitterAuthWebpageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <receiver android:name="com.ratethisfest.android.Alert"></receiver>
    </application>

</manifest>